.registration_section {
    width: 100%;
    height: calc(100vh - 80px);
}

.registration_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.registration_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.registration_logo img {
    width: 60px;
    height: auto;
}

.registration_logo h1 {
    font-weight: 300;
    font-size: 30px;
}

.registration_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.registration_form input {
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid #acacac;
    width: 270px;
    height: 35px;
    margin: 5px 0;
}

.registration_form button {
    width: 100px;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
}

.registration_have_acc_text p {
    font-size: 12px;
    font-weight: 300;
}