@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
    --primary-color: #4248a3;
    --primary-color-hover: #4e55b2;

    --border-color: #242326;
    --background-color: #121214;
    --background-secondary-color: #1d1d1d;
    --background-hover: #27262c;

    --outlet-color: #17181d;

    --text-color: #f2f2f2;

}

* {
    font-family: "Funnel Sans", sans-serif;
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-secondary-color);
  border-radius: 10px;
  border: 2px solid var(--background-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--background-hover);
}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--background-secondary-color) var(--background-color);
}