.home_section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.home_container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_context {
    width: 580px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.home_context h1 {
    color: var(--primary-color);
    font-size: 5rem;
}

.home_context p {
    font-size: 17px;
    color: #707478;
    font-weight: 500;
}

.home_context button {
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer; 
    transition: all 0.3s ease-in-out ;
}

.home_context button:hover {
    background-color: #0056cc;
}

.home_conversation_image {
    height: auto;
    width: 580px;
}

.home_conversation_image img {
    width: 100%;
    height: auto;
}